{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
  <h1>hii! {{user}}</h1>
  <h2>Tasks ToDo</h2>
  {{notification}}
  <ol>
    {% for task in tasks %}
    <li>
      {{task.date_added}}
      {{task.task_name}}-{{task.task_description}} {{task.deadline}} {{task.complete}}
      <p></p>
      {% comment %}

      <label for="deadline">Deadline: </label>
      <input type="datetime" name="deadline" id="deadline" value="{{Tasks.deadline|time:'h:i:s'}}">

              
      {% endcomment %}
      <p></p>
      <a href="{% url 'edit' task.pk %}">Edit</a> 
      <p></p>
      <a href="{% url 'delete' task.pk %}">Delete</a> <!--we use url patterns'name here-->
      <p></p>
      {% comment %}
      <a href="{% url 'complete' task.pk %}">Completed</a>
      {% endcomment %}
     
      
    </li>
    {% endfor %}

    <h2>Tasks Completed<h2>
      <ol>
        {% for task_c in tasks_c %}
        
        {% endfor %}
      </ol>
      
  </ol>
   <!--basically variable in which i will started tasks completed-->

   <a href="{% url 'add_task' %}">Add New Task</a>
{% endblock %}